__pycache__/
*.pyc
.vscode-test/
node_modules/
app/vendor/
android/app/src/main/assets/
dist/
node_modules/
.artifacts/
android/app/src/main/cpp/llama/
android/app/.cxx/

app/game/assets/*.wav
app/game/assets/*.woff2

app/game/assets/bit-*.svg

.native-artifacts/
flutter_native/android/app/src/main/assets/toolchain-*.zip
flutter_native/android/app/src/main/jniLibs/
